<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Inicio</a>
                    <a href="/shop">Tienda </a>
                    <span>Detalles de producto (13% del IVA Incluidos)</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__left product__thumb nice-scroll">
                        <a class="pt active" href="#product-1">
                            <img id="product-img" src="" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="product__details__text">
                    <h3 id="product-name"></h3>
                    <div class="product__details__price">₡ <span id="product-price"></span></div>
                    <p id="product-description"></p>
                    <p id="product-category"></p>
                  
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const productID = getProductIdFromURL(); // Obtener el productID desde la URL

        // Realizar una solicitud al servidor para obtener los detalles del producto
        fetch(`/productDetails?productID=${productID}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Respuesta del servidor no válida');
                }
                return response.json();
            })
            .then(data => {
                // Actualizar la información del producto en la página
                document.getElementById('product-name').textContent = data.nombre;
                document.getElementById('product-img').src = data.imagen;
                document.getElementById('product-price').textContent = data.precio;
                document.getElementById('product-description').textContent = data.descripcion;
                document.getElementById('product-category').textContent = data.categoria;
            })
            .catch(error => console.error('Error al obtener detalles del producto:', error));
    });

    // Función para obtener el productID desde la URL
    function getProductIdFromURL() {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        return urlParams.get('producto'); // Cambiar 'productID' por 'producto'
    }
</script>

<!-- Product Details Section End -->