<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Inicio</a>
                    <a href="/admin">Admin</a>
                    <span>Editar Producto</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Edit Section Begin -->
<section class="product-edit spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact__content">
                    <div class="contact__form">
                        <h5>Editar Producto</h5>
                        <form id="editarProductoForm" onsubmit="return editarProducto()">
                            <input type="text" id="product-name" placeholder="Nombre" required>
                            <textarea id="product-description" placeholder="Descripción" required></textarea>
                            <input type="url" id="product-img" placeholder="URL de la Imagen" required>
                            <select id="product-category" name="categoria" required>
                                <option value="">Seleccionar Categoría</option>
                                <option value="masculino">Masculino</option>
                                <option value="femenino">Femenino</option>
                                <option value="infantil">Infantil</option>
                                <option value="cosmetico">Cosmético</option>
                                <option value="accesorio">Accesorio</option>
                            </select>

                            <input type="number" id="product-price" placeholder="Precio" required>

                            <input type="number" min="1" id="product-stock" placeholder="Stock" required>
                            <button type="submit" class="site-btn" onclick="redirectToAdmin()">Editar Producto</button>
                            <script>
                                function redirectToAdmin() {
                                    window.location.href = "/admin";
                                }
                            </script>
                            
                            <button type="button" class="site-btn" onclick="cancelarAccion()">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="product__edit__text">
                    <h3 id="product-name"></h3>
                    <div class="product__edit__price"> <span id="product-price"></span></div>
                    <p id="product-description"></p>
                    <p id="product-category"></p>
                    <div class="product__details__button">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const productID = getProductIdFromURL(); // Obtener el productID desde la URL

        // Realizar una solicitud al servidor para obtener los detalles del producto
        fetch(`/productDetails?productID=${productID}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Respuesta del servidor no válida');
                }
                return response.json();
            })
            .then(data => {
                // Actualizar la información del producto en la página
                document.getElementById('product-name').value = data.nombre;
                document.getElementById('product-img').value = data.imagen;
                document.getElementById('product-price').value = data.precio;
                document.getElementById('product-description').textContent = data.descripcion;
                document.getElementById('product-category').value = data.categoria;
                document.getElementById('product-stock').value = data.stock;
            })
            .catch(error => console.error('Error al obtener detalles del producto:', error));
    });

    // Función para obtener el productID desde la URL
    function getProductIdFromURL() {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        return urlParams.get('producto'); // Cambiar 'productID' por 'producto'
    }

    // Función para agregar un producto al carrito
    function editarProducto() {
        // Obtener los datos del formulario
        const nombre = document.getElementById("product-name").value;
        const descripcion = document.getElementById("product-description").value;
        const imagen = document.getElementById("product-img").value;
        const precio = document.getElementById("product-price").value;
        const stock = document.getElementById("product-stock").value;
        const categoria = document.getElementById("product-category").value;

        // Verificar si todos los campos requeridos están llenos
        if (!nombre || !descripcion || !imagen || !precio || !stock || !categoria) {
            $.notify("Por favor, complete todos los campos.");
            return false;
        }

        // Enviar los datos al servidor
        fetch(`/editarProducto/${getProductIdFromURL()}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                nombre,
                descripcion,
                imagen,
                precio,
                stock,
                categoria,
            }),
        })
        .then((response) => {
    if (!response.ok) {
        throw new Error(
            "Error al editar el producto. Por favor, inténtalo de nuevo."
        );
    }
    return response.text();
})
.then((message) => {
    $.notify("Producto editado exitosamente");
    
    if (message === "Producto editado exitosamente") {
        window.location.href = "/admin";
    }
})
.catch((error) => {
    console.error("Error al editar el producto:", error.message);
    $.notify(error.message);
});

// Evitar que el formulario se envíe de forma convencional
return false;

    }
</script>

<!-- Product Details Section End -->