<!-- Header Section Begin -->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href="/"><img src="img/logo/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="./">Inicio</a></li>

                        <li><a href="./shop">Tienda</a></li>


                        <li><a href="./contact">Contacto</a></li>
                        <!-- Enlace de administrador (inicialmente oculto) -->
                        <li id="adminLink"><a href="./admin">Admin</a></li>


                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__right">
                    <div class="header__right__auth" id="authSection">
                        <!-- Los enlaces se agregarán aquí a través de JavaScript -->
                    </div>
                    <ul class="header__right__widget">


                        <li><a href="/shop-cart"><span class="icon_bag_alt"></span>
                </div></a></li>

                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="canvas__open">
        <i class="fa fa-bars"></i>
    </div>
</header>

<!-- Header Section End -->