<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Inicio</a>
                    <span>Registro</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__content">
                    <div class="contact__form">
                        <h5>Agregar Usuario</h5>
                        <form id="agregarUsuarioForm" onsubmit="return agregarUsuario()">
                            <input type="text" id="nombre" placeholder="Nombre" required>
                            <input type="text" id="apellido" placeholder="Apellido" required>
                            <input type="email" id="correo" placeholder="Correo electrónico" required>
                            <input type="password" id="contraseña" placeholder="Contraseña" required>
                            <select id="rol" required>
                                <option value="1">Cliente</option>
                                <option value="2">Admin</option>
                                <option value="3">Repartidor</option>
                            </select> <!-- Cierre de la etiqueta select -->
                            <button type="submit" class="site-btn">Agregar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section End -->