
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Inicio</a>
                        <span>Contacto</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__content">
                        <script>document.addEventListener('DOMContentLoaded', function() {
                            // Obtener los datos de la facturación almacenados en el almacenamiento local
                            const facturacionSeleccionada = JSON.parse(localStorage.getItem('facturacionSeleccionada'));
                        
                            // Verificar si hay datos de facturación almacenados
                            if (facturacionSeleccionada) {
                                // Llenar los campos con los datos de la facturación
                                const informacionContacto = document.getElementById('informacion-contacto');
                                informacionContacto.innerHTML = `
                                    <h5>Te contactaremos pronto!</h5>
                                    <ul>
                                        <li>
                                            <h6><i class="fa fa-map-marker"></i> Cliente</h6>
                                            <p>${facturacionSeleccionada.nombre} ${facturacionSeleccionada.apellido}</p>
                                        </li>
                                        <li>
                                            <h6><i class="fa fa-map-marker"></i> Provincia</h6>
                                            <p>${facturacionSeleccionada.provincia}</p>
                                        </li>
                                        <li>
                                            <h6><i class="fa fa-map-marker"></i> Canton</h6>
                                            <p>${facturacionSeleccionada.canton}</p>
                                        </li>
                                        <li>
                                            <h6><i class="fa fa-map-marker"></i> Distrito</h6>
                                            <p>${facturacionSeleccionada.distrito}</p>
                                        </li>
                                        <li>
                                            <h6><i class="fa fa-map-marker"></i> Dirección</h6>
                                            <p>${facturacionSeleccionada.direccion}</p>
                                        </li>
                                        <li>
                                            <h6><i class="fa fa-phone"></i> Teléfono</h6>
                                            <p><span>${facturacionSeleccionada.telefono}</span></p>
                                        </li>
                                        <li>
                                            <h6><i class="fa fa-headphones"></i> Correo Electrónico</h6>
                                            <p>${facturacionSeleccionada.correo}</p>
                                        </li>
                                    </ul>
                                `;
                            }
                        });
                        </script>
                        <div class="contact__address" id="informacion-contacto">
                          
                        </div>


                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Rastreo de Repartidor</title>
    <style>
        html, body, #map {
            height: 100%;
            margin: 0px;
            padding: 0px;
        }
        #bar {
            width: 240px;
            background-color: rgba(255, 255, 255, 0.75);
            margin: 8px;
            padding: 4px;
            border-radius: 4px;
        }
        #autoc {
            width: 100%;
            box-sizing: border-box;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfj7gqJyLE-kwBv39mz6rw0hikOWAieF0&libraries=drawing,places"></script>
    <script>
        var map;
        var userMarker;

        function initialize() {
            var mapOptions = {
                zoom: 17,
                center: { lat: 9.9324, lng: -84.0797 } // Centro predeterminado (puede ser cualquier lugar)
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);

            // Obtener los datos de geolocalización del repartidor desde el servidor
            obtenerDatosGeolocalizacionRepartidor();
        }

        function obtenerDatosGeolocalizacionRepartidor() {
            fetch('/datos-geolocalizacion-repartidor')
            .then(response => response.json())
            .then(data => {
                // Coloca el marcador en la posición del repartidor
                var repartidorLocation = { lat: data.latitud, lng: data.longitud };
                if (!userMarker) {
                    userMarker = new google.maps.Marker({
                        position: repartidorLocation,
                        map: map,
                        title: 'Ubicación del Repartidor',
                        animation: google.maps.Animation.DROP
                    });
                } else {
                    userMarker.setPosition(repartidorLocation);
                }

                // Centra el mapa en la ubicación del repartidor
                map.setCenter(repartidorLocation);
            })
            .catch(error => {
                console.error('Error al obtener los datos de geolocalización del repartidor:', error);
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
    <div id="map"></div>
</body>
</html>

                    
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
<script>const ws = new WebSocket('ws://localhost:8081');

  ws.onmessage = function(event) {
      const repartidorLocation = JSON.parse(event.data);
      // Actualiza el marcador en el mapa con la nueva posición del repartidor
      if (!userMarker) {
          userMarker = new google.maps.Marker({
              position: repartidorLocation,
              map: map,
              title: 'Ubicación del Repartidor',
              animation: google.maps.Animation.DROP
          });
      } else {
          userMarker.setPosition(repartidorLocation);
      }
      // Centra el mapa en la ubicación del repartidor
      map.setCenter(repartidorLocation);
  };
  </script>