<!-- Categories Section Begin -->
<section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="categories__item categories__large__item set-bg" data-setbg="img/categories/category-1.jpg">
                    <div class="categories__text">
                        <h1>Moda Femenina</h1>
                        <p>"¡Sumérgete en el estilo costero perfecto con nuestra tienda de ropa para mujeres
                            playeras! Descubre una colección cautivadora de trajes de baño, pareos, vestidos
                            playeros y accesorios que te harán brillar bajo el sol.</p>
                        <p id="womensProductCount">Cargando...</p>
                        <a href="shop.html" id="womensShopLink">Comprar ahora</a>
                        <!-- Cambio: Agregar un ID al enlace -->
                    </div>
                </div>
            </div>

            <script>
                // Función para obtener la cantidad de productos de la categoría "femenino"
                function getWomensProductCount() {
                    fetch('/countProductsByCategory?category=femenino') // Endpoint para contar productos por categoría
                        .then(response => response.json())
                        .then(data => {
                            const womensProductCountElement = document.getElementById('womensProductCount');
                            womensProductCountElement.textContent = `${data.count} productos`; // Actualiza el texto con la cantidad de productos
                        })
                        .catch(error => console.error('Error al obtener la cantidad de productos: ', error));
                }

                // Llama a la función para obtener la cantidad de productos cuando se carga la página
                document.addEventListener('DOMContentLoaded', getWomensProductCount);

                // Cambio: Agregar un listener para el evento 'click' en el enlace de compra
                document.getElementById('womensShopLink').addEventListener('click', function (event) {
                    event.preventDefault(); // Evita el comportamiento predeterminado de seguimiento del enlace
                    window.location.href = 'shop.html'; // Redirige a shop.html
                });
            </script>

            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="img/categories/category-2.jpg">
                            <div class="categories__text">
                                <h4>Moda Masculina</h4>
                                <p id="menProductCount">Cargando...</p>
                                <a href="shop.html" id="menShopLink">Comprar ahora</a>
                                <!-- Cambio: Agregar un ID al enlace -->
                            </div>
                        </div>
                    </div>

                    <script>
                        // Función para obtener la cantidad de productos de la categoría "masculino"
                        function getMenProductCount() {
                            fetch('/countProductsByCategory?category=masculino') // Endpoint para contar productos por categoría
                                .then(response => response.json())
                                .then(data => {
                                    const menProductCountElement = document.getElementById('menProductCount');
                                    menProductCountElement.textContent = `${data.count} productos`; // Actualiza el texto con la cantidad de productos
                                })
                                .catch(error => console.error('Error al obtener la cantidad de productos: ', error));
                        }

                        // Llama a la función para obtener la cantidad de productos cuando se carga la página
                        document.addEventListener('DOMContentLoaded', getMenProductCount);

                        // Cambio: Agregar un listener para el evento 'click' en el enlace de compra
                        document.getElementById('menShopLink').addEventListener('click', function (event) {
                            event.preventDefault(); // Evita el comportamiento predeterminado de seguimiento del enlace
                            window.location.href = 'masculino.html'; // Redirige a shop.html
                        });
                    </script>



                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="img/categories/category-3.jpg">
                            <div class="categories__text">
                                <h4>Moda Infantil</h4>
                                <p id="kidProductCount">Cargando...</p>
                                <a href="shop.html" id="kidShopLink">Comprar Ahora</a>
                                <!-- Cambio: Agregar un ID al enlace -->
                            </div>
                        </div>
                    </div>

                    <script>
                        // Función para obtener la cantidad de productos de la categoría "infantil"
                        function getKidProductCount() {
                            fetch('/countProductsByCategory?category=infantil') // Endpoint para contar productos por categoría
                                .then(response => response.json())
                                .then(data => {
                                    const kidProductCountElement = document.getElementById('kidProductCount');
                                    kidProductCountElement.textContent = `${data.count} productos`; // Actualiza el texto con la cantidad de productos
                                })
                                .catch(error => console.error('Error al obtener la cantidad de productos: ', error));
                        }

                        // Llama a la función para obtener la cantidad de productos cuando se carga la página
                        document.addEventListener('DOMContentLoaded', getKidProductCount);

                        // Cambio: Agregar un listener para el evento 'click' en el enlace de compra
                        document.getElementById('kidShopLink').addEventListener('click', function (event) {
                            event.preventDefault(); // Evita el comportamiento predeterminado de seguimiento del enlace
                            window.location.href = 'shop.html'; // Redirige a shop.html
                        });
                    </script>



                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="img/categories/category-4.jpg">
                            <div class="categories__text">
                                <h4>Cosmeticos</h4>
                                <p id="cosmeticsProductCount">Cargando...</p>
                                <a href="shop.html" id="cosmeticsShopLink">Comprar Ahora</a>
                                <!-- Cambio: Agregar un ID al enlace -->
                            </div>
                        </div>
                    </div>
                    <script>
                        // Función para obtener la cantidad de productos de la categoría "Cosméticos"
                        function getCosmeticsProductCount() {
                            fetch('/countProductsByCategory?category=cosmetico') // Endpoint para contar productos por categoría
                                .then(response => response.json())
                                .then(data => {
                                    const cosmeticsProductCountElement = document.getElementById('cosmeticsProductCount');
                                    cosmeticsProductCountElement.textContent = `${data.count} productos`; // Actualiza el texto con la cantidad de productos
                                })
                                .catch(error => console.error('Error al obtener la cantidad de productos: ', error));
                        }

                        // Llama a la función para obtener la cantidad de productos cuando se carga la página
                        document.addEventListener('DOMContentLoaded', getCosmeticsProductCount);

                        // Cambio: Agregar un listener para el evento 'click' en el enlace de compra
                        document.getElementById('cosmeticsShopLink').addEventListener('click', function (event) {
                            event.preventDefault(); // Evita el comportamiento predeterminado de seguimiento del enlace
                            window.location.href = 'shop.html'; // Redirige a shop.html
                        });
                    </script>

                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="img/categories/category-5.jpg">
                            <div class="categories__text">
                                <h4>Accesorios</h4>
                                <p id="accessoriesProductCount">Cargando...</p>
                                <a href="shop.html" id="accessoriesShopLink">Comprar Ahora</a>
                                <!-- Cambio: Agregar un ID al enlace -->
                            </div>
                        </div>
                    </div>
                    <script>
                        // Función para obtener la cantidad de productos de la categoría "Accesorios"
                        function getAccessoriesProductCount() {
                            fetch('/countProductsByCategory?category=accesorio') // Endpoint para contar productos por categoría
                                .then(response => response.json())
                                .then(data => {
                                    const accessoriesProductCountElement = document.getElementById('accessoriesProductCount');
                                    accessoriesProductCountElement.textContent = `${data.count} productos`; // Actualiza el texto con la cantidad de productos
                                })
                                .catch(error => console.error('Error al obtener la cantidad de productos: ', error));
                        }

                        // Llama a la función para obtener la cantidad de productos cuando se carga la página
                        document.addEventListener('DOMContentLoaded', getAccessoriesProductCount);

                        // Cambio: Agregar un listener para el evento 'click' en el enlace de compra
                        document.getElementById('accessoriesShopLink').addEventListener('click', function (event) {
                            event.preventDefault(); // Evita el comportamiento predeterminado de seguimiento del enlace
                            window.location.href = 'shop.html'; // Redirige a shop.html
                        });
                    </script>





                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>Nuevos Productos</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">Todos</li>
                    <li data-filter=".masculino">Hombres</li>
                    <li data-filter=".femenino">Mujeres</li>
                    <li data-filter=".infantil">Niños</li>
                    <li data-filter=".accesorio">Accesorios</li>
                    <li data-filter=".cosmetico">Cosméticos</li>
                </ul>
            </div>
        </div>
        <div class="row property__gallery" id="productos-container-index">
            <!-- Aquí se llenarán dinámicamente los productos -->
        </div>
    </div>
</section>
<!-- Product Section End -->

<!-- Banner Section Begin -->
<section class="banner set-bg" data-setbg="img/banner/banner-1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>Colección Marina</span>
                            <h1>La Moda Que Esperabas</h1>
                            <a href="#">Comprar ahora</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>Ofertas Únicas</span>
                            <h1>Aprovecha estos descuentos del 14 de febrero</h1>
                            <a href="#">Comprar ahora</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Discount Section Begin -->
<section class="discount">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="discount__pic">
                    <img src="img/discount.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="discount__text">
                    <div class="discount__text__title">
                        <span>Descuento</span>
                        <h2>Febrero 2024</h2>
                        <h5><span>Precios</span> 50%</h5>
                    </div>
                    <div class="discount__countdown" id="countdown-time">
                        <div class="countdown__item">
                            <span>22</span>
                            <p>Días</p>
                        </div>
                        <div class="countdown__item">
                            <span>18</span>
                            <p>Horas</p>
                        </div>
                        <div class="countdown__item">
                            <span>46</span>
                            <p>Min</p>
                        </div>
                        <div class="countdown__item">
                            <span>05</span>
                            <p>Sec</p>
                        </div>
                    </div>
                    <a href="#">Comprar Ahora</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Discount Section End -->

<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Envío Gratis</h6>
                    <p>Ordenes mayores a $99</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Te devolvemos el dinero</h6>
                    <p>Si llegas a tener problemas</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"></i>
                    <h6>Soportye en línea 24/7</h6>
                    <p>Soporte dedicado</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Pago seguro</h6>
                    <p>100% seguro</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->