<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Inicio</a>
                    <span>Iniciar Sesión</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__content">
                    <div class="contact__form">
                        <h5>Ingrese sus credenciales</h5>
                        <form id="authForm"> <!-- Cambié la acción del formulario a "/login" -->
                            <label for="correo">Correo electrónico:</label>
                            <input type="email" id="correo" name="correo" required>

                            <label for="contraseña">Contraseña:</label>
                            <input type="password" id="contraseña" name="contraseña" required>

                            <button type="submit" class="site-btn">Iniciar sesión</button>

                            <button type="button" class="site-btn" onclick="redirectToRegistro()">Registrarse</button>

                            <script>
                                function redirectToRegistro() {
                                    window.location.href = '/signup'; // Redirige al usuario a registro.html
                                }
                            </script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const authForm = document.getElementById('authForm');

        authForm.addEventListener('submit', function (event) {
            event.preventDefault();

            const correo = document.getElementById('correo').value;
            const contraseña = document.getElementById('contraseña').value;

            autenticar(correo, contraseña);
        });

        function autenticar(correo, contraseña) {
            fetch('/authenticate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    correo: correo,
                    contraseña: contraseña
                })
            }).then(response => response.json())
                .then(data => {
                    if (data.status === 200) {
                        $.notify(data.message)  
                        window.location.href = '/'
                    } else {
                        $.notify(data.message)
                    }
                }).catch(error => {
                    console.error('Error al authenticar usuario:', error)
                    $.notify(error)
                });
        }
    });
</script>